{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ol>
        {% for l in listings %}
        <li>
            <a href="{% url 'item' l.id %}">
            {{l.id}}: {{l.title}}
            <br>
            {% if l.category %}
            Category: {{l.category}}
            {% endif %}
            <br>
            Upload Date: {{l.created_date}} by {{l.creator}}
            <br>
            Starting Bid: {{l.starting_bid}}
            {% if l.current.bid %}
            <br>
            Current Bid: {{l.current_bid}}
            {% endif %}
            <br>
            {{l.category}}
            </a>
        </li>
        {% endfor %}

    </ol>
    
{% endblock %}