{% extends "auctions/layout.html" %}

{% block body %}
    <h3>{{id}}: {{title}}</h3>
    {% if active %}
    <h6>Active</h6>
    {% endif %}
    
    <h6>{{created_date}} by {{creator}}</h6>
    {% if category %}
    <h6>Category: {{category}}</h6>
    {% endif %}
    <h6>Starting Bid Price: {{starting_bid}} | Current Bid Price: {{current_bid}}</h6>
    <hr>
    <p>{{description}}</p>
    <hr>
    {% if watchers %}
    <h6>{{watchers}} {% if watchers == 1 %}person is{% else %}people are{% endif %} watching.</h6>
    {% endif %}

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'watchlist' id %}">
        {% csrf_token %}
        {% if is_watched %}
        <input type="submit" value="Remove from Watchlist">
        {% else %}
        <input type="submit" value="Add to Watchlist">
        {% endif %}

    </form>
    {% endif %}

    <hr>





    <a href="{% url 'index' %}">Back to Item List</a>
    
    
{% endblock %}

